* {
    padding: 0px;
    margin: 0px;
}

body {
    background: rgb(255, 177, 8);
}

.container1 {
    margin: 40px;
    padding-bottom: 0px;
    padding-right: 0px;
    border-radius: 20px;
}

button {
    display: block;
    height: 35px;
    --animate-duration: 2.5s;
    width: 260px;
    margin: 10px;
    border-radius: 15px;
    border: 0px solid;
    font-family: 'Montserrat', sans-serif;
}

.container1 a {
    text-decoration: none;
}

button:hover {
    background-color: rgb(59, 176, 255);
    --animate-animated: animate__animate animate__backInRight;
}

p {
    padding-top: 30px;
    font-size: 8px;
}